<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{{ config.title }}{% endblock title %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="{{ config.description }}" name="description">
		<meta content="software development, software engineering, podcast" name="keywords">

		<link rel="shortcut icon" type="image/png" href="{{ get_url(path='favicons/x16-favicon.png') | safe }}" sizes="16x16" />
		<link rel="shortcut icon" type="image/png" href="{{ get_url(path='favicons/x32-favicon.png') | safe }}" sizes="32x32" />
		<link rel="shortcut icon" type="image/png" href="{{ get_url(path='favicons/x64-favicon.png') | safe }}" sizes="64x64" />
		<link rel="shortcut icon" type="image/png" href="{{ get_url(path='favicons/x256-favicon.png') | safe }}" sizes="256x256" />
		<link rel="apple-touch-icon" type="image/png" href="{{ get_url(path='favicons/x256-favicon.png') | safe }}" />
		<link rel="alternate" type="application/rss+xml" title="Software Sessions" href="https://pinecast.com/feed/software-sessions" />
		<link rel="stylesheet" href="{{ get_url(path='style.css') | safe }}">

		{% set social_title = config.title %}
		{% set social_description = config.description %}
		{% set social_banner = get_url(path='images/top-banner.png') %}

		{% if page %}
			{% set social_title = page.title %}
			{% if page.description %}
				{% set social_description = page.description %}
			{% endif %}
			{% if page.extra.social_banner %}
			  {% set social_banner = get_url(path='images/social_banners/' ~ page.extra.social_banner ) %}
			{% endif %}
			{% if page.extra.social_title %}
			  {% set social_title = page.extra.social_title %}
			{% endif %}
			{% if page.extra.social_description %}
			  {% set social_description = page.extra.social_description %}
			{% endif %}
		{% elif section and section.title %}
			{% set social_title =  section.title ~ " | " ~ config.title %}
		{% endif %}

		<!-- Facebook -->
		<meta property="og:url" content="{{ config.base_url | safe }}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{ config.title }}">
		<meta property="og:description" content="{{ social_description }}">
		<meta property="og:image" content="{{ social_banner | safe }}">
		<meta property="og:title" content="{{ social_title }}">
		<!-- /Facebook -->

		<!-- Twitter -->

		<meta name="twitter:description" content="{{ social_description }}">
		<meta name="twitter:title" content="{{ social_title }}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="{{ config.extra.twitter }}">
		<meta name="twitter:image" content="{{ social_banner | safe }}">

		<!-- /Twitter -->
	</head>
	<body>
		<header class="header">
			<div class="header-content">
				<h1 class="site-title"><a href="{{config.base_url | safe}}">
				software sessions
				</a></h1>

				<nav class="main-nav">
					<ul>
						<li><a href="{{config.base_url}}">Home</a></li>
						<span> | </span>
						<li><a href="{{ get_url(path="@/episodes/_index.md") }}">Episodes</a></li>
						<span> | </span>
						<li><a href="{{ get_url(path="@/subscribe.md") }}">Subscribe</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			{% block body %}
			<article>
				<h2 class="intro-header">Practical conversations about building software</h2>
				{% if page.content %}
					{{ page.content | safe }}
				{% endif %}
				<p>Say 👋 via <a href="mailto:contact@softwaresessions.com">e-mail</a> or <a href="https://www.twitter.com/jertype">twitter</a>.</p>

				<iframe src="https://pinecast.com/embed/player_playlist/software-sessions?color.primary=%2330343c&amp;color.secondary=%2330343c&amp;color.accent=%230066ff" border="0" style="width:100%;border:0" height="400"></iframe>
				Show notes and transcripts are available on the <a href="{{ get_url(path="@/episodes/_index.md") }}">episode pages</a>.
			</article>
			{% endblock body %}
		</main>
	</body>
</html>
