{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block body %}
  <article>
    <header class="post-header">
  	<h1>{{ page.title }}</h1>
      {% if page.date %}
        <span class="post-byline">
          {{ page.date | date(format="%B %e, %Y")}}
        </span>
      {% endif %}
    </header>
  	<p>{{ page.description }}</p>
    {% if page.extra.episode_url %}
      <audio data-episode="8" controls="true" src="{{ page.extra.episode_url | safe }}">
        Your browser does not support HTML5 audio.
      </audio>
      <div class="podcast-app-list">
        <a href="https://podcasts.apple.com/us/podcast/software-sessions/id1479514262">Apple Podcasts</a> 
        <span> | </span>
        <a href="https://overcast.fm/itunes1479514262/software-sessions">Overcast</a>
        <span> | </span>
        <a href="https://open.spotify.com/show/7DxBo3WhU7jfFRz0axCmwV">Spotify</a>
        <span> | </span>
        <a href="https://pca.st/amb86m1f">Pocket Casts</a>
        <span> | </span>
        <a href="https://pinecast.com/feed/software-sessions">RSS</a>
      </div>
    {% endif %}
  	  {% if page.content %}
        {{ page.content | safe }}
      {% endif %}
  </article>
{% endblock body %}
