{% extends "index.html" %}
{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}

{% block body %}
	<article class="post-summaries">
		<ul>
		    {% for page in section.pages %}
			    <li>
			    	<article>
				    	<header class="post-header">
		            <a href="{{ page.permalink | safe }}"><h2>{{ page.title }}</h2></a>
	            	{% if page.date %}
			            <span class="post-byline">
		              	{{ page.date | date(format="%B %e, %Y")}}
		            	</span>
	            	{% endif %}
		            <p>{{ page.description }}</p>
					    </header>
		    		</article>
		      </li>    
		    {% endfor %}
		</ul>
	</article>
{% endblock body %}